#search-bar {
    position: relative;
    left: 353px;
    top: 305px;
    border: 1px solid whitesmoke;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 40px;
    width: 450px;
    display: flex;    


}
img {
position: relative;
left: 433px;
top: 160px;

}